* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	min-width: 320px;
}

.wrapper {
	max-width: 1230px;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #959595;
}